openapi: 3.0.0
info:
  title: Dagpenger Regel API - Arena Adapter
  version: '1.0'
servers:
  - url: 'https://dagpenger-regel-api-arena-adapter.nais.adeo.no:{port}/v1'
    variables:
      port:
        default: '443'
        enum:
          - '443'
          - '8443'
tags:
  - name: Minsteinntekt
    description: Beregner minsteinntekt og dagpengeperiode etter §4-4 og §4-15
    externalDocs:
      description: Folketrygdloven $4-4
      url: 'https://lovdata.no/lov/1997-02-28-19/§4-4'
  - name: Dagpengegrunnlag
    description: Beregner dagpengegrunnlag etter §4-11
    externalDocs:
      description: Folketrygdloven $4-11
      url: 'https://lovdata.no/lov/1997-02-28-19/§4-11'
